.section {
	width: 100%;

	.container {
		width: 100%;
		max-width: $site_width;
		margin: 0 auto;

		&.narrow {
			max-width: $breakpoint1;
		}

		.page-header {
			padding-top: 60px;
		}
	}

	.header-container {
		display: flex;
		height: 50vh;
		min-height: 400px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		.header-content {
			position: relative;
			left: calc((100% - #{$site_width}) / 2);
			display: flex;
			align-items: center;
			max-width: $site_width;
			width: calc(#{$site_width} - 300px);
			margin: auto 0;
			height: calc(50vh - 60px);
			min-height: inherit;
			color: #fff;
			padding: 30px;

			.entry-header {
				position: absolute;
				bottom: 30px;
				right: 30px;

				h1, h2 {
					font-size: 64px;
					line-height: 1;
					margin: 0;

					a {
						text-decoration: none;
						color: #fff;
					}

					&.single-post-title {
						font-size: 48px;
						text-align: right;
					}
				}

				h2 {
					font-size: 36px;
				}
			}

			&:before {
				content: '';
				width: 100%;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(190, 55, 70, 1);
				mix-blend-mode: multiply;
			}
		}

		.entry-header {
			h1 {
				color: #fff;
			}
		}

		@media (max-width: $site_width) {
			.header-content {
				left: 0;
			}
		}
		@media (max-width: $breakpoint1) {
			.header-content {
				left: 0;
				margin-right: 40px;
			}
		}
	}

	&.header {
		position: absolute;
		padding: 30px 0;
		z-index: 100;

		.container {
			display: flex;
			padding: 30px;
		}

		.site-title {
			display: none;
		}

		.main-navigation {
			margin-left: auto;
		}

		@media (max-width: $breakpoint1) {
			position: relative;
			.main-navigation a svg g {
				fill: #111;
				stroke: #111;
			}
		}
	}

	&.footer {
		.container {
			max-width: 920px;
		}

		background: $c1;
		color: #fff;
		padding: 3rem 0;

		.cols {
			display: flex;

			.col {
				margin-left: 2%;
				margin-right: 2%;

				&:nth-child(1) {
					margin-left: 0;
				}

				&:nth-child(4) {
					margin-right: 0;
				}
			}

			@media (max-width: $breakpoint1) {
				display: block;
				.col {
					width: 100%;
					margin: 0 30px 30px !important;
				}
			}
		}

		h3 {
			font-family: $font__main;
			font-weight: 300;
			font-size: 14px;
			margin-top: 0;
		}

		.footer-logo {
			margin-bottom: 4rem;
		}

		.address {
			margin-bottom: 4rem;

			span {
				display: block;
				font-family: $font__secondary;

				&.heading {
					font-family: $font__main;
				}
			}
		}

		button, .button {
			margin-bottom: 3rem;
			transition: color 100ms linear, border 100ms linear;

			&:hover {
				border-color: #404040;
				color: #404040;
			}
		}

		.social_info {
			.social_icon {
				margin-right: 10px;
				width: 40px;
				display: inline-block;
			}
		}
	}
}

body.home {
	.section {
		.header-container {
			height: 100vh;

			.header-content {
				left: calc((100% - 1400px) / 2);
				height: calc(100vh - 60px);

				.entry-header {
					position: relative;
					bottom: unset;
					right: unset;

					h1 {
						font-size: 64px;
						line-height: 1;
						margin: 0;
					}
				}

				&:after {
					content: url("#{$path}images/NO WORD UNSPOKEN.png");
					position: absolute;
					left: calc(100% - 25px);
					bottom: 60px;
				}
			}
		}
	}
}

body.single-event {
	#content {
		margin-bottom: 50px;
	}
}

.highlight-header-container {
	display: flex;
	height: 0;
	padding-bottom: 56.25%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.header-content {
		position: relative;
		display: flex;
		align-items: center;
		margin: 30px auto auto;
		height: 0;
		color: #fff;
		padding-bottom: calc(56.25% - 60px);
		width: calc(100% - 60px);

		.entry-header {
			position: absolute;
			left: 0;
			bottom: 0;

			h1, h2 {
				font-size: 64px;
				line-height: 1;
				margin: 0;

				a {
					text-decoration: none;
					color: #fff;
				}
			}

			h2 {
				font-size: 36px;
			}
		}

		&:before {
			content: '';
			width: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(190, 55, 70, 1);
			mix-blend-mode: multiply;
		}
	}

	.entry-header {
		h1 {
			color: #fff;
		}
	}

	@media (max-width: $site_width) {
		.header-content {
			left: 0;
		}
	}
	@media (max-width: $breakpoint1) {
		.header-content {
			left: 0;
			margin-right: 40px;
		}
	}
}

.columns {
	display: flex;

	.content-column {
		width: 100%;
		max-width: 700px;
		margin-top: 50px;
		margin-right: 30px;
		margin-left: auto;
		flex: 1 0 auto;
		@media (max-width: $breakpoint1) {
			left: 0;
			margin-left: 30px;
			margin-right: 30px;
		}

		.entry-content {
			margin-top: 0;
			h2 {
				margin-bottom: 30px;
			}
		}
	}

	&.single_col {
		.content-column {
			max-width: $breakpoint1;
			margin-right: auto;
			margin-left: auto;
		}
	}

	.sidebar {
		width: 450px;
		margin-top: 50px;
		font-family: $font__secondary;

		.event-meta {
			.meta-header {
				color: $c1;
				display: flex;
				align-items: center;
				font-size: 20px;
				line-height: 24px;
				margin-bottom: 20px;
				font-family: $font_header_regular;
				position: relative;

				&:after {
					content: '';
					width: 100%;
					height: 3px;
					background: $c1;
				}

				h3 {
					margin-bottom: 0;
					margin-right: 20px;
					flex: 0 0 auto;
				}
			}

			.meta-section {
				margin-bottom: 30px;

				.meta-info {
					> span {
						display: block;
						margin-bottom: 10px;

						&.when, &.where, &.tickets {
							font-size: 20px;
							line-height: 1.2;
							font-family: $font__main;
						}
					}
				}
			}
		}
	}
}

body.archive, body.blog {
	.archive-description {
		color: $c1;
		font-family: $font_header_round;
		font-size: 30px;
		line-height: 34px;
		margin-bottom: 60px;

		> :last-child {
			margin-bottom: 0;
		}
	}

	.highlight {
		position: relative;
		text-transform: uppercase;
		font-family: $font_header_round;
		font-size: 30px;
		line-height: 32px;
	}

	.event-location, .meta-category {
		text-transform: uppercase;
		font-family: $font__secondary;
		font-size: 12px;
		line-height: 30px;

		a {
			color: #404040;
			text-decoration: none;
			transition: color 100ms linear;

			&:hover {
				color: $c1;
			}
		}
	}

	.event-featured-time {
		text-transform: uppercase;
		font-family: $font_header_round;
		line-height: 32px;
		font-size: 20px;
	}

	.archive-post-columns {
		display: flex;

		.image-col {
			flex: 1 1 65%;
			margin-right: 30px;

			img {
				height: 100%;
				object-fit: cover;
			}
		}

		.content-col {
			flex: 1 035%;

			.entry-content {
				margin: 0;
				height: 100%;
				display: flex;
				flex-direction: column;

				h2 {
					font-size: 26px;
					line-height: 28px;
					margin-top: 0;
					margin-bottom: 10px;

					a {
						color: #404040;
						text-decoration: none;
						transition: color 100ms linear;

						&:hover {
							color: $c1;
						}
					}
				}

				.excerpt {
					font-family: $font__secondary;
				}
			}
		}

		.button {
			border-color: $c1;
			color: $c1;
			margin-top: auto;
			align-self: flex-start
		}
	}

	.spacing {
		height: 150px;
	}
}

#primary {
	article {
		margin-bottom: 30px;
	}
}

.aas-share-this {
	display: flex;
	align-items: center;
	background: $c1;
	color: #fff;
	margin-bottom: 40px;
	padding: 20px 30px;

	h3 {
		font-size: 26px;
		line-height: 1;
		margin: 0 30px 0 0;
		font-family: $font_header_round;
	}

	svg {
		margin-right: 10px;
	}
}

.post-content-columns {
	display: flex;
	margin-right: -30px;
	padding-top: 50px;
	padding-bottom: 30px;

	.col {
		flex: 0 1 25%;
		margin-right: 30px;

		.col-header {
			display: flex;
			align-items: center;
			margin-bottom: 30px;

			h3 {
				color: $c1;
				font-size: 26px;
				line-height: 1;
				flex: 0 0 auto;
				margin-bottom: 0;
				margin-right: 20px;
				font-family: $font_header_round;
			}

			&:after {
				content: '';
				width: 100%;
				height: 3px;
				background: #C03847;
			}
		}
	}

	.col-related-content {
		flex: 0 1 50%;

		.related_posts {
			display: flex;
			margin: -5px;

			.single_related {
				flex: 0 1 50%;
				height: 0;
				margin: 5px;
				padding-bottom: 50%;
				background-color: #eee;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				position: relative;

				.related_content {
					position: absolute;
					width: 100%;
					flex: 1;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					padding: 30px;
					color: #fff;

					.content-meta {
						position: relative;

						.event-location {
							text-transform: uppercase;
							font-family: $font__secondary;
							font-size: 12px;
							line-height: 30px;
						}

						.entry-title {
							font-size: 26px;
							line-height: 1;
							margin-bottom: 10px;
						}

						.event-featured-time {
							text-transform: uppercase;
							font-family: $font_header_round;
							line-height: 32px;
							font-size: 20px;
						}
					}

					&:before {
						content: '';
						position: absolute;
						top: 30px;
						bottom: 30px;
						left: 30px;
						right: 30px;
						background-color: #be3746;
						mix-blend-mode: multiply;
					}
				}
			}
		}
	}

	.post_list {
		.post-item {
			margin-bottom: 30px;
			border-bottom: 3px solid #d8d8d8;

			.event-location {
				text-transform: uppercase;
				font-family: $font__secondary;
				font-size: 12px;
				line-height: 30px;
			}

			a {
				color: #404040;
				text-decoration: none;
				transition: color 100ms linear;

				&:hover {
					color: $c1;
				}
			}

			.entry-title {
				font-size: 26px;
				line-height: 1;
				margin-bottom: 30px;
			}
		}
	}
}

.section.after-footer {
	background: #4F1339;
	img {
		margin-top: -1px;
	}
}
