button, .button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include font-size(0.75);
	line-height: 1;
	padding: 1em 2em;
	display: inline-block;
	text-decoration: none;
	border: 2px solid #fff;
	color: #fff;
	background-color: transparent;

	&:hover {
		cursor: pointer;
		color: #fff;
	}

	&:active,
	&:focus {

	}
}
