button, .button, a.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: #fff;
	font-size: 14px;
	line-height: 1;
	padding: 1em 2em;
	display: inline-block;
	text-decoration: none;
	border: 2px solid #fff;
	text-transform: uppercase;
	background-color: transparent;
	font-family: $font__main;
	min-width: 120px;
	text-align: center;

	&:hover {
		cursor: pointer;
		color: #fff;
	}

	&:active,
	&:focus {
	}
}
