button, .button, a.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: #fff;
	font-size: 14px;
	line-height: 1;
	padding: 1em 2em;
	display: inline-block;
	text-decoration: none;
	border: 2px solid #fff;
	text-transform: uppercase;
	background-color: transparent;
	font-family: $font__main;
	min-width: 120px;
	text-align: center;

	&:hover {
		cursor: pointer;
		color: #fff;
	}

	&:active,
	&:focus {
	}

	&.red {
		color: $c1;
		border-color: $c1;

		&:hover {
			color: #404040;
			border-color: #404040;
		}
	}

	&.orange {
		color: $c2;
		border-color: $c2;

		&:hover {
			color: #404040;
			border-color: #404040;
		}
	}
}

.button-wrap {
	display: flex;

	.button {
		&.right {
			margin-left: auto;
		}
	}
}
