input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	font-size: 14px;
	font-family: $font__secondary;
	color: $color__text-input;
	border: none;
	padding: 1em 1em;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

form {
	input {
		display: block;
		margin-bottom: 1em;
	}
}

.yikes-easy-mc-form, .content-form {
	input[type="text"],
	input[type="email"] {
		border: none !important;
		padding: 1em 1em !important;
		color: #666 !important;
	}
}

.yikes-easy-mc-submit-button {
	padding: 1em 2em !important;
	display: inline-block !important;
	width: auto !important;
	margin-bottom: 0 !important;
	min-height: 50px !important;
}
