// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
// shortcodes
.color_block {
	position: relative;
	display: block;
	width: 100%;
	height: 200px;
	margin-bottom: 30px;

	&.red {
		background: $c1;
		color: $c3;
	}

	&.dark_red {
		background: $c3;
		color: $c1;
	}

	.block_title {
		position: absolute;
		font-size: 50px;
		line-height: 50px;
		top: 30px;
		left: 30px;
		font-family: $font_header_regular;
	}
}

.columns.artist_resources {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	padding: 60px 0;

	.col {
		flex: 0 1 calc(33.3333% - 20px);
		margin: 10px;
	}

	@media (max-width: $breakpoint1) {
		.col {
			flex: 0 1 calc(50% - 20px);
			margin: 10px;
		}
	}
	@media (max-width: 600px) {
		.col {
			flex: 0 1 calc(100% - 20px);
			margin: 10px;
		}
	}
}

.widget_list_categories_widget {
	h2.widget-title {
		font-size: 26px;
		line-height: 28px;
		font-family: $font_header_round;
		color: #404040 !important;
		background: $c4;
		padding: 10px 20px;
		margin-bottom: 30px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			a {
				display: block;
				font-size: 20px;
				line-height: 24px;
				font-family: $font_header_round;
				color: #404040;
				margin-bottom: 20px;
				text-transform: uppercase;
				text-decoration: none;

				&:hover {
					color: $c4;
				}
			}
		}
	}
}
