h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin-top: 0;
	font-weight: 400;
	font-family: $font_header_round;
}

.entry-content {
	h2 {
		font-size: 52px;
		line-height: 64px;
		color: $c1;
	}

	h3 {
		font-size: 24px;
		line-height: 28px;
		color: $c1;
	}

	h4 {
		font-size: 22px;
		line-height: 24px;
	}

	h5 {
		font-family: $font__main;
		font-size: 16px;
		line-height: 22px;
		font-weight: 500;
	}

	h6 {
		font-family: $font__secondary;
		font-size: 14px;
		line-height: 22px;
		font-weight: bold;
	}
}
