$font__main: clanpro;
$font__secondary: clanproBook;

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;


$font_header_regular: prohibitionw00-linesregular;
$font_header_round: prohibitionw00-roundregular;

$path: '/wp-content/themes/apples-and-snakes/';
