.main-navigation {
	clear: both;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		padding: 10px;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a.menu-toggle {
		display: flex;
		align-items: center;
		color: #fff;

		.menu-icon {
			display: flex;
			text-decoration: none;
			padding: 10px 0;
			color: #fff;
			background: #C03847;
			width: 55px;
			height: 55px;
			border-radius: 100%;
			align-items: center;
			justify-content: center;

			img {
				width: 35px;
				height: auto;
			}
		}

		&:hover {
			cursor: pointer;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	.main-navigation.toggled ul {
		display: block;
	}

	.menu-toggle {
	}

	@media (min-width: $breakpoint1) {
		ul {
			display: flex;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.comment-navigation a,
.posts-navigation a,
.post-navigation a {
	color: $c1;
	font-size: 14px;
	line-height: 1;
	padding: 1em 2em;
	display: inline-block;
	text-decoration: none;
	border: 2px solid $c1;
	text-transform: uppercase;
	background-color: transparent;
	font-family: $font__main;
	min-width: 120px;
	text-align: center;

	&:hover {
		border-color: #111;
		color: #111;
	}
}
