.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
	@media screen and (max-width: 600px) {
		display: block;
		float: none;
		margin-right: 0;
	}
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
	@media screen and (max-width: 600px) {
		display: block;
		float: none;
		margin-left: 0;
	}
}

.aligncenter {
	clear: both;
	@include center-block;
}
