.site-content {
	.sticky {
		display: block;
	}

	.post,
	.page {
		margin: 0 0 1.5em;
	}

	.updated:not(.published) {
		display: none;
	}

	.page-content,
	.entry-content,
	.entry-summary {
		margin: 1.5em 0 0;
		font-family: $font__secondary;
	}

	.page-links {
		clear: both;
		margin: 0 0 1.5em;
	}
}
